* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

img {
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.todo-main {
  background-color: #fff;
  box-shadow: 27px 0px 20px -28px rgba(85, 85, 85, 0.5);
  position: relative;
}
.todo-container {
  width: 500px;
  height: 400px;
  position: relative;
  /* z-index: -1; */
}
.todo-container ::after {
  position: absolute;
  left: 0;
  top: -20px;
  content: "";
  height: 520px;
  width: 520px;
  background-color: #ffffff;
  z-index: -20;
  border-radius: 10px;
}
.todo-head {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 2px solid rgba(94, 197, 118, 0.3);
}
.todo-img {
  border-radius: 50%;
  overflow: hidden;
}
.todo-head-tag {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}
.todo-head-tag h4 {
  font-size: 20px;
  font-weight: 700;
}
.todo-head-tag p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.add-todo-btn:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
.todo-add-icon {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}

/* TODO BODY */
.todo-body {
  padding: 15px 15px 0 15px;
  height: 324px;
  overflow-y: scroll;
}

.todo-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.todo-list ::first-letter {
  text-transform: uppercase;
}

.todo-list p {
  flex: 1;
  font-size: 18px;
  float: right;
}
.todo-list i {
  font-size: 18px;
  cursor: pointer;
}

.todo-checked {
  text-decoration: line-through;
  color: rgb(96, 95, 95);
}
.select-todo-item,
.delete-todo {
  cursor: pointer;
}
.bi-trash {
  margin-right: 10px;
  margin-top: 5px;
}
.bi-check-circle-fill {
  color: #ffb003;
}

.clear-all-todo {
  display: block;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border: none;
  margin-top: 10px;
}
/* TODO TIME */

.todo-timeframe-addbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-image: linear-gradient(to top right, #ffb003, #ffd42a);
  height: 280px;
  width: 120px;
  padding: 30px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* animation: slidesX 2500ms ease; */
  /* z-index: -1; */
}
.todo-day-date {
  font-size: 62px;
  font-weight: 600;
}
.timedate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.month-year {
  word-spacing: 5px;
}
.todo-month,
.todo-year,
.todo-day {
  font-size: 18px;
  font-weight: 600;
}
.todo-day {
  font-size: 18px;
}
.add-todo-btn {
  border: none;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  padding: 6px 7px;
  border-radius: 50%;
  height: 62px;
  width: 62px;
  transition: 0.3s ease;
  cursor: pointer;
  /* position: absolute; */
}

.todo-footer {
  background-color: #fff;
  border-top: 2px solid rgba(94, 197, 118, 0.3);
  width: 100%;
  padding: 15px;
}

@media screen and (max-width: 358px) {
  .container {
    flex-direction: column-reverse;
  }
  .todo-container {
    width: 250px;
    height: 300px;
  }
  .todo-container ::after {
    width: 100%;
    height: 340px;
    top: -20px;
    z-index: -100000;
  }
  .delete-todo {
    margin-top: -28px;
  }
  .todo-main {
    box-shadow: 0px -29px 27px -28px rgb(85, 85, 85, 0.4);
  }
  .todo-timeframe-addbtn {
    height: 80px;
    width: 180px;
    padding: 30px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
  }
  .todo-day-date {
    font-size: 24px;
    position: absolute;
    bottom: 2px;
  }
  .todo-day {
    font-size: 16px;
  }
}

@keyframes slidesX {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(20px);
  }
}
